In [20]:
import pyodbc
import pandas as pd
from pyspark.sql import SparkSession

# Conexão com o SQL Server
conn = pyodbc.connect('DRIVER={SQL Server};'
                      'SERVER=LAPTOP-NV4PR600;'
                      'DATABASE=MY_DB;'
                      'Trusted_Connection=yes')


query = "SELECT * FROM ecommerce"

df_ecomerce = pd.read_sql(query, conn)
df_ecommerce.to_csv('sales_ecommerce.csv', index=False)
conn.close()
display(df_ecommerce)

,User_ID,Product_ID,Category,Price,Discount,Final_Price,Payment_Method,Purchase_Date
0,337c166f,f414122f-e,Sports,"36,53",15,"31,05",Net Banking,12/11/2024
1,d38a19bf,fde50f9c-5,Clothing,"232,79",20,"186,23",Net Banking,09/02/2024
2,d7f5f0b0,0d96fc90-3,Sports,"317,02",25,"237,76",Credit Card,01/09/2024
3,395d4994,964fc44b-d,Toys,"173,19",25,"129,89",UPI,01/04/2024
4,a83c145c,d70e2fc6-e,Beauty,"244,8",20,"195,84",Net Banking,27/09/2024
...,...,...,...,...,...,...,...,...
3655,67abda0a,28714133-6,Beauty,"486,79",0,"486,79",UPI,14/05/2024
3656,34ebc1a0,08838c2c-9,Toys,"212,87",15,"180,94",Cash on Delivery,19/11/2024
3657,1defd3b1,c39a4f16-6,Home & Kitchen,"389,76",0,"389,76",Net Banking,07/08/2024
3658,0611293d,b4f67f96-9,Electronics,"447,66",30,"313,36",UPI,21/05/2024
3659,e73ad07c,a5d07442-d,Home & Kitchen,"235,77",30,"165,04",UPI,14/04/2024

In [ ]:
from pyspark.sql import SparkSession
import pandas as pd

# Seu DataFrame pandas (já extraído do SQL Server)
df_ecom = pd.read_csv("ecommerce.csv")  # ou vindo do seu SQL Server direto

# Crie uma SparkSession com conexão ao Databricks
spark = SparkSession.builder \
    .appName("Upload local para Databricks") \
    .config("spark.databricks.service.address", "https://<SEU-HOST>.cloud.databricks.com") \
    .config("spark.databricks.token", "<SEU-TOKEN>") \
    .getOrCreate()

# Converte pandas para Spark DataFrame
df_spark = spark.createDataFrame(df_ecom)

# Salva como tabela no Databricks (em um catálogo/schema que você tenha permissão)
df_spark.write \
    .format("delta") \
    .mode("overwrite") \
    .saveAsTable("default.ecommerce")